.tooltip {
	position           : absolute;
	top                : 0;
	margin             : 10px  !important;
	padding            : 10px !important;
	background-color   : rgba(250,250,250,0.85);
	-moz-box-shadow    : 1px 1px 4px black;
	-webkit-box-shadow : 1px 1px 4px black;
	box-shadow         : 1px 1px 4px black;
	text-align         : right; 
}

.tooltip h2 {
	padding        : 0px;
	margin         : 0px;
	margin-bottom  : 3px;
	line-height    : 1em;
	font-size      : 1.4em;
	text-transform : capitalize;
}

.scale {
	position : relative;
	margin   : 0 auto;
}

.scale.vertical {
	float : right;
	/* NOTE: Vertical title next to the legend */
	/*margin-right : 20px;*/
}

.scale.horizontal {
	padding-top   : 20px;
	margin-bottom : 20px;
	height        : 40px;
}

.scale .scale_title {font-size: 1.2em; line-height: 1.8em; font-weight: bold; }

.scale.vertical .scale_title {
	/* Vertical title next to the legend */
	-webkit-transform: rotate(-90deg);
	-moz-transform   : rotate(-90deg);
	left             : 20px;
	bottom           : 0px;
	position         : absolute;
	white-space      : nowrap;
}

.scale.vertical .step {
	width : 11px;
	position: relative;
}

.scale.horizontal .step {
	display       : inline-block;
	height        : 11px;
}

.scale .sticker {
	position : absolute;
}

.scale.vertical .sticker {
	border-bottom   : 1px solid #000;
	padding-bottom  : 0px;
	right           : 0px;
	text-align      : left;
	white-space     : nowrap;
	padding-right   : 10px;
}

.scale.horizontal .sticker {
	border-left  : 1px solid #000;
	padding-top  : 15px;
	padding-left : 5px;
}

.scale.horizontal .sticker.first {
	border-left: 0;
}


#footer {
	position: static !important;
}
