.tooltip {
	position           : absolute;
	top                : 0;
	margin             : 10px  !important;
	padding            : 10px !important;
	background-color   : rgba(250,250,250,0.85);
	-moz-box-shadow    : 1px 1px 4px black;
	-webkit-box-shadow : 1px 1px 4px black;
	box-shadow         : 1px 1px 4px black;
	text-align         : right; 
}

.tooltip h2 {
	padding        : 0px;
	margin         : 0px;
	margin-bottom  : 3px;
	line-height    : 1em;
	font-size      : 1.4em;
	text-transform : capitalize;
}

.scale div {
	padding     : 1em 1em;
	font-size   : 0.8em;
	width       : 35px;
	white-space : nowrap;
}

.scale.vertical {
	float        : right;
	position     : absolute;
	right        : 0px;
	padding-left : 10px;
}

.scale.vertical div {
	border-left  : 1px solid #989898;
	border-right : 1px solid #989898;
}

.scale.vertical div:last-child {
	-moz-border-radius    : 0px 0px 6px 6px;
	-webkit-border-radius : 0px 0px 6px 6px;
	border-radius         : 0px 0px 6px 6px;
	border-bottom         : 1px solid #989898;
}

.scale.vertical div:first-child {
	-moz-border-radius    : 6px 6px 0px 0px;
	-webkit-border-radius : 6px 6px 0px 0px;
	border-radius         : 6px 6px 0px 0px;
	border-top            : 1px solid #989898;
}

.scale.horizontal {
	text-align  : center;
	padding-top : 20px;
}

.scale.horizontal div {
	display       : inline-block;
	border-top    : 1px solid #989898;
	border-bottom : 1px solid #989898;
}

.scale.horizontal div:last-child {
	-moz-border-radius    : 0px 6px 6px 0;
	-webkit-border-radius : 0px 6px 6px 0;
	border-radius         : 0px 6px 6px 0;
	border-right          : 1px solid #989898;
}

.scale.horizontal div:first-child {
	-moz-border-radius    : 6px 0px 0px 6px;
	-webkit-border-radius : 6px 0px 0px 6px;
	border-radius         : 6px 0px 0px 6px;
	border-left           : 1px solid #989898;
}

#footer {
	position: static !important;
}